* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: aqua;
}

#root{
    background-color: bisque;
}
.container {
    margin-top: 1em;
    margin-bottom: 3em;
    padding: "26px";
    font-size: 21px;
    text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.2)";
}

.contact-container .btn:hover {
    background-color: rgb(152, 0, 254);
    opacity: 0.5;
    transform: scale(1.05);
}
.navbarHeader{
    background-color: purple;
}

.icons {
    color: rgb(255, 0, 0);
    transition: color 0.3s ease-in-out;
}

.icons:hover {
    color: purple;
    transform: color 0.5s ease-in-out;
}

.card {
    box-shadow: 0 4px 8px rgb(255, 0, 183);
    transition: transform 0.3s ease-in-out;
}

/* .card-description h4 {
    text-transform: uppercase;
} */

.card-text a {
    margin: 100px;
}

.github-icon {
    margin-right: 5px;
}

.deploy-icon {
    margin-right: 5px;
}
ul {
    list-style-type: none;
}

#project-image {
    max-width: 100%;
    height: 225px;
}
.nav-item:hover {
    font-size: 25px;
}

.profile-image {
    width: 200px;
    height: auto;
}

.name {
    font-size: 50px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#download-btn {
    background-color: red;
    border: 0px;
    margin-top: 200px
}
.mt-5 {
    font-weight: bold;
    color: black;
}
.nav-link.active {
    font-weight: bolder;
}
.card:hover {
    transform: scale(1.1);
}